###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
.idea
.docker/data/db
###< symfony/framework-bundle ###
comp
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
